/*design is a combination of grid and flexbox*/

* {
  box-sizing: border-box;
}

.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 2rem;
}

html {
  font-family: Oxanium;
}

@font-face {
  font-family: Oxanium;
  src: url(fonts/Oxanium/Oxanium-Bold.ttf);
}

@font-face {
  font-family: birdman;
  src: url(fonts/birdman/BIRDO___.TTF);
}

body {
  background-image: url(images/source_code.jpg);
  background-position: center;
  background-size: cover;
}

header {
  background-color: #0f5858e6;
  font-family: birdman;
  display: flex;
  flex-flow: column;
  border: 4px solid black;
  border-radius: 3em;
  padding: 2em;
}

nav {
  background-color: #0f5858e6;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-family: birdman;
  font-size: 30px;
  font-weight: 900;
  margin: 20px;
  padding: 30px;
  border: 4px solid black;
  border-radius: 3em;
  padding: 2em;
}

#nav {
  font-size: 35px;
}

nav:link {
  color: #0d19c9;
}

nav:hover {
  color: #49fd0e;
}

nav:visited {
  color: #0e065e;
}

h1 {
  color: #49fd0e;
  font-weight: bolder;
  font-size: 4em;
  margin: 0.67em 0;
}

h2 {
  color: #49fd0e;
  font-size: 3em;
  font-weight: bold;
  margin: 1em;
}

#contact {
  font-family: Oxanium;
  font-size: 25px;
  display: flex;
  flex-flow: column;
  background-color: #0f5858e6;
  margin: 20px;
  padding: 30px;
  border: 4px solid black;
  border-radius: 3em;
  padding: 2em;
}

#contact-info:link {
  color: #0830b3;
}

#contact-info:hover {
  color: #49fd0e;
}

#contact-info:visited {
  color: #0e065e;
}

#welcome {
  display: flex;
  flex-flow: column;
  background-color: #0f5858e6;
  margin: 20px;
  padding: 30px;
  border: 4px solid black;
  border-radius: 3em;
  padding: 2em;
  font-size: 20px;
  word-spacing: 3px;
}

#about-me {
  display: flex;
  flex-flow: column;
  background-color: #0f5858e6;
  margin: 20px;
  padding: 30px;
  border: 4px solid black;
  border-radius: 3em;
  padding: 2em;
  font-size: 20px;
  word-spacing: 3px;
}

#projects {
  display: flex;
  flex-flow: column;
  background-color: #0f5858e6;
  margin: 20px;
  padding: 30px;
  border: 4px solid black;
  border-radius: 3em;
  padding: 2em;
  font-size: 20px;
  word-spacing: 3px;
}

#section-titles {
  display: flex;
  flex-flow: column;
  font-family: birdman;
  font-weight: bolder;
  color: #49fd0e;
  font-size: 35px;
  word-spacing: 3px;
}

.screenshots {
  border-style: solid;
  margin: 10px;
  display: flex;
  flex-flow: column;
}

#bookmarks-app {
  display: flex;
  flex-flow: column;
  font-family: birdman;
  font-weight: bolder;
  color: #49fd0e;
  font-size: 25px;
  word-spacing: 3px;
}

a:link {
  color: #0830b3;
}

a:hover {
  color: #49fd0e;
}

a:visited {
  color: #0e065e;
}

footer {
  display: flex;
  flex-flow: column;
  background-color: #0f5858e6;
  margin: 20px;
  padding: 30px;
  border: 4px solid black;
  border-radius: 3em;
  padding: 2em;
  font-size: 20px;
  word-spacing: 3px;
}

/*media query for menu at top - desktops/laptops/large & portrait-view tablets*/

@media (min-width: 950px) {
  nav {
    background-color: #0f5858e6;
    font-family: birdman;
    display: flex;
    flex-direction: row;
    border: 4px solid black;
    border-radius: 3em;
    padding: 2em;
  }
}
