* {
    box-sizing: border-box;
  }
  
.grid-container {
    display: grid;
}

  header {
    font-size: 40px;
    color: greenyellow;
    
  }

.about-me {
    display: flex;
}
  
  nav,
  footer {
    padding: 1% 0;
    background-color: #aaa;
  }
  
  nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 10;
  }
  
  
  
  header {
    padding: 12% 0;
  }
  
  section {
    min-height: 200px;
    padding: 6% 0;
    background-color: #bbb;
  }
  
  section:nth-child(even) {
    background-color: #ddd;
  }  