* {
    box-sizing: border-box;
  }
  
.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 2rem;
}

@font-face {
  font-family: birdman;
  src: url(fonts/birdman/BIRDO___.TTF);
}

body {
  background-image: url(images/source_code.jpg);
  background-position: center;
  background-repeat: no-repeat;

}

header {
  background-color: #357b7bb0;  
  font-family: birdman;
  display: flex;
  flex-flow: column;
  border: 4px solid black;
  border-radius: 3em;
  padding: 2em;
}

ul {
  background-color: #357b7bb0;
  display: flex;
  justify-content: space-around;
  font-family: birdman;
  font-size: 20px;
  margin: 20px;
  padding: 30px;
  border: 4px solid black;
  border-radius: 3em;
  padding: 2em;
}

li {
  list-style: none;
}

h1 {
  color: #0aee11;
  font-weight: bolder;
  font-size: 4em;
  margin: 0.67em 0;
}

h2 {
  color: black;
  font-size: 3em;
  font-weight: bold;
  margin: 1em;
}

#welcome {
  display: flex;
  flex-flow: column;
  background-color: #357b7bb0;
  margin: 20px;
  padding: 30px;
  border: 4px solid black;
  border-radius: 3em;
  padding: 2em;
}

#about-me {
  display: flex;
  flex-flow: column;
  background-color: #357b7bb0;
  margin: 20px;
  padding: 30px;
  border: 4px solid black;
  border-radius: 3em;
  padding: 2em;
}

#projects {
  display: flex;
  flex-flow: column;
  background-color: #357b7bb0;
  margin: 20px;
  padding: 30px;
  border: 4px solid black;
  border-radius: 3em;
  padding: 2em;
}
  
#contact-info {
  display: flex;
  flex-flow: column;
  background-color: #357b7bb0;
  margin: 20px;
  padding: 30px;
  border: 4px solid black;
  border-radius: 3em;
  padding: 2em;
}