* {
    box-sizing: border-box;
  }
  
.grid-container {
  display: grid;
  grid-template-columns: auto;
  grid-gap: 1rem;
}

header {
  font-size: 30px;
  display: flex;
  flex-flow: column;
  border: 1px solid black;
  border-radius: 1rem;
  padding: 2rem;
}

#welcome {
  display: flex;
  flex-flow: column;
}

#about-me {
  display: flex;
  flex-flow: column;
}

#project-1 {
  display: flex;
  flex-flow: column;
}

#project-2 {
  display: flex;
  flex-flow: column;
}
  
footer {
  display: flex;
  flex-flow: column;
  padding: 1% 0;
  background-color: #aaa;
}